{% load static from staticfiles%}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Instagem</title>

    <link rel="stylesheet" type="text/css" href="{% static 'insta/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'insta/css/font-awesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'insta/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'insta/css/font-awesome.min.css'%}">

 
</head>
<body>
    
    <header class="site-header">
        <div class="site-branding">
            <h1 class="site-title"><a href="profile.html" rel="home"><img src="static/insta/images/logo.png" alt="Instagem"></a></h1>
        </div><!-- .site-branding -->

        <div class="hamburger-menu">
            <div class="menu-icon">
                <img src="static/insta/images/menu-icon.png" alt="menu icon">
            </div><!-- .menu-icon -->

            <div class="menu-close-icon">
                <img src="static/insta/images/x.png" alt="menu close icon">
            </div><!-- .menu-close-icon -->
        </div><!-- .hamburger-menu -->
    </header><!-- .site-header -->

    <nav class="site-navigation flex flex-column justify-content-between">
        <div class="site-branding d-none d-lg-block ">
            <h1 class="site-title"><a href="profile.html" rel="home"><img src="static/insta/images/logo2.png" alt="Logo"></a></h1>
        </div><!-- .site-branding -->

        <ul class="main-menu flex flex-column justify-content-center">
            <li class="current-menu-item"><a href="profile.html">Home</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>



        <div class="social-profiles">
            <ul class="flex justify-content-start justify-content-lg-center align-items-center">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
        </div><!-- .social-profiles -->
    </nav><!-- .site-navigation -->

    <div class="nav-bar-sep d-lg-none"></div>

    <div class="outer-container">
        <div class="container portfolio-page">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumbs flex align-items-center">
                        <li><a href="#">Home</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul><!-- .breadcrumbs -->
                </div><!-- .col -->
            </div><!-- .row -->

            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="portfolio-content">
                        <figure>
                            <img src="static/insta/images/1.jpg" alt="">
                        </figure>

                        <div class="entry-content flex flex-column align-items-center justify-content-center">
                            <h3><a href="#">Hoodie</a></h3>

                            <ul class="flex flex-wrap justify-content-center">
                                <li><a href="#">Taken by "user"</a></li>
                            </ul>
                        </div><!-- .entry-content -->
                    </div><!-- .portfolio-content -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="portfolio-content">
                        <figure>
                            <img src="static/insta/images/2.jpg" alt="">
                        </figure>

                        <div class="entry-content flex flex-column align-items-center justify-content-center">
                            <h3><a href="#">Flower Skin</a></h3>

                            <ul class="flex flex-wrap justify-content-center">
                                <li><a href="#">Portfolio,</a></li>
                                <li><a href="#">Tree</a></li>
                            </ul>
                        </div><!-- .entry-content -->
                    </div><!-- .portfolio-content -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="portfolio-content">
                        <figure>
                            <img src="static/insta/images/3.jpg" alt="">
                        </figure>

                        <div class="entry-content flex flex-column align-items-center justify-content-center">
                            <h3><a href="#">Flower Skin</a></h3>

                            <ul class="flex flex-wrap justify-content-center">
                                <li><a href="#">Portfolio,</a></li>
                                <li><a href="#">Tree</a></li>
                            </ul>
                        </div><!-- .entry-content -->
                    </div><!-- .portfolio-content -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="portfolio-content">
                        <figure>
                            <img src="static/insta/images/4.jpg" alt="">
                        </figure>

                        <div class="entry-content flex flex-column align-items-center justify-content-center">
                            <h3><a href="#">Flower Skin</a></h3>

                            <ul class="flex flex-wrap justify-content-center">
                                <li><a href="#">Portfolio,</a></li>
                                <li><a href="#">Tree</a></li>
                            </ul>
                        </div><!-- .entry-content -->
                    </div><!-- .portfolio-content -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="portfolio-content">
                        <figure>
                            <img src="static/insta/images/5.jpg" alt="">
                        </figure>

                        <div class="entry-content flex flex-column align-items-center justify-content-center">
                            <h3><a href="#">Flower Skin</a></h3>

                            <ul class="flex flex-wrap justify-content-center">
                                <li><a href="#">Portfolio,</a></li>
                                <li><a href="#">Tree</a></li>
                            </ul>
                        </div><!-- .entry-content -->
                    </div><!-- .portfolio-content -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="portfolio-content">
                        <figure>
                            <img src="static/insta/images/6.jpg" alt="">
                        </figure>

                        <div class="entry-content flex flex-column align-items-center justify-content-center">
                            <h3><a href="#">Flower Skin</a></h3>

                            <ul class="flex flex-wrap justify-content-center">
                                <li><a href="#">Portfolio,</a></li>
                                <li><a href="#">Tree</a></li>
                            </ul>
                        </div><!-- .entry-content -->
                    </div><!-- .portfolio-content -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="portfolio-content">
                        <figure>
                            <img src="static/insta/images/7.jpg" alt="">
                        </figure>

                        <div class="entry-content flex flex-column align-items-center justify-content-center">
                            <h3><a href="#">Flower Skin</a></h3>

                            <ul class="flex flex-wrap justify-content-center">
                                <li><a href="#">Portfolio,</a></li>
                                <li><a href="#">Tree</a></li>
                            </ul>
                        </div><!-- .entry-content -->
                    </div><!-- .portfolio-content -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="portfolio-content">
                        <figure>
                            <img src="static/insta/images/8.jpg" alt="">
                        </figure>

                        <div class="entry-content flex flex-column align-items-center justify-content-center">
                            <h3><a href="#">Flower Skin</a></h3>

                            <ul class="flex flex-wrap justify-content-center">
                                <li><a href="#">Portfolio,</a></li>
                                <li><a href="#">Tree</a></li>
                            </ul>
                        </div><!-- .entry-content -->
                    </div><!-- .portfolio-content -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="portfolio-content">
                        <figure>
                            <img src="static/insta/images/9.jpg" alt="">
                        </figure>

                        <div class="entry-content flex flex-column align-items-center justify-content-center">
                            <h3><a href="#">Flower Skin</a></h3>

                            <ul class="flex flex-wrap justify-content-center">
                                <li><a href="#">Portfolio,</a></li>
                                <li><a href="#">Tree</a></li>
                            </ul>
                        </div><!-- .entry-content -->
                    </div><!-- .portfolio-content -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="portfolio-content">
                        <figure>
                            <img src="static/insta/images/10.jpg" alt="">
                        </figure>

                        <div class="entry-content flex flex-column align-items-center justify-content-center">
                            <h3><a href="#">Flower Skin</a></h3>

                            <ul class="flex flex-wrap justify-content-center">
                                <li><a href="#">Portfolio,</a></li>
                                <li><a href="#">Tree</a></li>
                            </ul>
                        </div><!-- .entry-content -->
                    </div><!-- .portfolio-content -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="portfolio-content">
                        <figure>
                            <img src="static/insta/images/11.jpg" alt="">
                        </figure>

                        <div class="entry-content flex flex-column align-items-center justify-content-center">
                            <h3><a href="#">Flower Skin</a></h3>

                            <ul class="flex flex-wrap justify-content-center">
                                <li><a href="#">Portfolio,</a></li>
                                <li><a href="#">Tree</a></li>
                            </ul>
                        </div><!-- .entry-content -->
                    </div><!-- .portfolio-content -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="portfolio-content">
                        <figure>
                            <img src="static/insta/images/12.jpg" alt="">
                        </figure>

                        <div class="entry-content flex flex-column align-items-center justify-content-center">
                            <h3><a href="#">Flower Skin</a></h3>

                            <ul class="flex flex-wrap justify-content-center">
                                <li><a href="#">Portfolio,</a></li>
                                <li><a href="#">Tree</a></li>
                            </ul>
                        </div><!-- .entry-content -->
                    </div><!-- .portfolio-content -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="portfolio-content">
                        <figure>
                            <img src="static/insta/images/1.jpg" alt="">
                        </figure>

                        <div class="entry-content flex flex-column align-items-center justify-content-center">
                            <h3><a href="#">Flower Skin</a></h3>

                            <ul class="flex flex-wrap justify-content-center">
                                <li><a href="#">Portfolio,</a></li>
                                <li><a href="#">Tree</a></li>
                            </ul>
                        </div><!-- .entry-content -->
                    </div><!-- .portfolio-content -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="portfolio-content">
                        <figure>
                            <img src="static/insta/images/2.jpg" alt="">
                        </figure>

                        <div class="entry-content flex flex-column align-items-center justify-content-center">
                            <h3><a href="#">Flower Skin</a></h3>

                            <ul class="flex flex-wrap justify-content-center">
                                <li><a href="#">Portfolio,</a></li>
                                <li><a href="#">Tree</a></li>
                            </ul>
                        </div><!-- .entry-content -->
                    </div><!-- .portfolio-content -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="portfolio-content">
                        <figure>
                            <img src="static/insta/images/3.jpg" alt="">
                        </figure>

                        <div class="entry-content flex flex-column align-items-center justify-content-center">
                            <h3><a href="#">Flower Skin</a></h3>

                            <ul class="flex flex-wrap justify-content-center">
                                <li><a href="#">Portfolio,</a></li>
                                <li><a href="#">Tree</a></li>
                            </ul>
                        </div><!-- .entry-content -->
                    </div><!-- .portfolio-content -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="portfolio-content">
                        <figure>
                            <img src="static/insta/images/4.jpg" alt="">
                        </figure>

                        <div class="entry-content flex flex-column align-items-center justify-content-center">
                            <h3><a href="#">Flower Skin</a></h3>

                            <ul class="flex flex-wrap justify-content-center">
                                <li><a href="#">Portfolio,</a></li>
                                <li><a href="#">Tree</a></li>
                            </ul>
                        </div><!-- .entry-content -->
                    </div><!-- .portfolio-content -->
                </div><!-- .col -->
            </div><!-- .row -->

            <div class="scroll-down flex flex-column justify-content-center align-items-center d-none d-lg-block">
                <span class="arrow-down flex justify-content-center align-items-center"><img src="static/insta/images/arrow-down.png" alt="arrow"></span>
                <span class="scroll-text">Scroll Down</span>
            </div><!-- .scroll-down -->
        </div><!-- .container -->
    </div><!-- .outer-container -->

    <script type='text/javascript' src='static/insta/js/jquery.js'></script>
    <script type='text/javascript' src='static/insta/js/custom.js'></script>
    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        

</body>
</html>