{% load static from staticfiles%}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{%static 'insta/css/styles.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <title>Instagem</title>
  </head>

  <body style="background-color:#F5FCFF;">
    <div class="container">
      <div class="main col-md-4 col-md-5 mx-auto">
              <h1 style="font-size:3.5rem; font-weight:150;">Instagem</h1>
              {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                {% if 'lemail' in message.tags %}
                <li{% if message.tags %} class="{{message.tags}}"{% endif %}>{{ message }}</li>
                {% endif %}
                {% endfor %}
              </ul>
              {% endif %}
              {% csrf_token %}
              <form action='/logform/' method='post'>
                {% csrf_token %}
                <div class="form-label-group">
                  <!-- <label for="inputEmail">Email address</label> -->
                  <input type="text" id="inputEmail" class="form-control" name='lemail' value="{{request.session.lemail}}" placeholder="Email address" required autofocus>
                </div>
                {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                  {% if 'lpassword' in message.tags %}
                  <li{% if message.tags %} class="{{message.tags}}"{% endif %}>{{ message }}</li>
                  {% endif %}
                  {% endfor %}
                </ul>
                {% endif %}
                
                <div class="form-label-group" style="margin-top:10px;">
                  <!-- <label for="inputPassword">Password</label> -->
                  <input type="password" id="inputPassword" class="form-control"  name='lpassword' placeholder="Password" required>  
                </div>

                <div class="custom-control custom-checkbox mb-3" style="margin-top:10px;">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Login</button>
                <p>Not Register? <a href="/register">Sign Up Here</a></p>
              </form>
          </div>
          <div class="download col-md-4 col-md-3 mx-auto">
            <p>Get the app</p>
            <img src="../static/insta/img/appstore.png" alt="appstore">
            <img src="../static/insta/img/google.png" alt="googleapp">
          </div>
    </div>

  
  </body>

</html>


   